<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/startpages.css') }}"
    />
  </head>
  <body>
    <div class="center-container">
      <div class="center-content">
        <h1>Welcome!</h1>
          <div class="btn-container">
              <button class="btn" onclick="location.href = '/login'">Login</button>
          </div>
          <div class="btn-container">
            <button class="btn" onclick="location.href = '/signup'">Sign Up</button>
          </div>
      </div>
    </div>
  </body>
</html>
