<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/startpages.css') }}"
    />
  </head>
  <body>
    <div class="center-container">
      <div class="center-content">
        <h1>Login</h1>

        <form method="POST" action="/login">
          <div class="form__group">
            <input
              type="email"
              id="email"
              class="form__field"
              name="email"
              required
            /><br /><br />
            <label for="email" class="form__label">Email</label>
          </div>

          <div class="form__group">
            <input
              type="password"
              class="form__field"
              id="pass"
              name="pass"
              required
            /><br /><br />
            <label for="pass" class="form__label">Password</label>
          </div>

          <div class="btn-container">
            <input class="btn" type="submit" value="Log In" />
          </div>
        </form>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </div>
  </body>
</html>
