<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/startpages.css') }}"
    />

    <script>
      function updateSelectedTopics() {
        var checkboxes = document.querySelectorAll(
          'input[name="topic"]:checked'
        );
        var selectedTopics = Array.from(checkboxes).map(function (checkbox) {
          return checkbox.value;
        });
        document.getElementById("selected-topics").value =
          selectedTopics.join(",");
      }
    </script>
  </head>
  <body>
    <div class="center-container">
      <div class="center-content">
        <h1>Signup</h1>
        <form method="POST" action="/signup">
          <div class="form__group">
            <label for="name" class="form__label">Name</label>
            <input
              type="text"
              class="form__field"
              id="name"
              name="name"
              required
            />
          </div>

          <div class="form__group">
            <label for="email" class="form__label">Email</label>
            <input
              type="email"
              class="form__field"
              id="email"
              name="email"
              required
            />
          </div>

          <div class="form__group">
            <label for="password" class="form__label">Password</label>
            <input
              type="password"
              class="form__field"
              id="password"
              name="password"
              required
            />
          </div>

          <label>Topics of Interest</label><br />

          <div class="topics-invis-grid">
            <div>
              <input
                type="checkbox"
                name="topic"
                value="Computer Science"
                onchange="updateSelectedTopics()"
              />
              <label>Computer Science</label><br />
            </div>

            <div>
              <input
                type="checkbox"
                name="topic"
                value="Data Science"
                onchange="updateSelectedTopics()"
              />
              <label>Data Science</label><br />
            </div>

            <div>
              <input
                type="checkbox"
                name="topic"
                value="Chemistry"
                onchange="updateSelectedTopics()"
              />
              <label>Chemistry</label><br />
            </div>

            <div>
              <input
                type="checkbox"
                name="topic"
                value="Physics"
                onchange="updateSelectedTopics()"
              />
              <label>Physics</label><br />
            </div>

            <div>
              <input
                type="checkbox"
                name="topic"
                value="Biology"
                onchange="updateSelectedTopics()"
              />
              <label>Biology</label><br />
            </div>

            <div>
              <input
                type="checkbox"
                name="topic"
                value="Deep Learning"
                onchange="updateSelectedTopics()"
              />
              <label>Deep Learning</label><br />
              <br />
            </div>
          </div>

          <input type="hidden" id="selected-topics" name="selected-topics" />

          <div class="btn-container">
            <input type="submit" class="btn" value="Sign Up" />
          </div>
        </form>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
  </body>
</html>
